{% load static %}

<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
    }

    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        color: white;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #4CAF50;
        color: white;
    }
</style>

<nav>
    <ul>
        <li style="float: left; padding-top: 20px; padding-bottom: 20px"><img class="center" src="{% static 'intranet_login/Logo_6_grau_2.png' %}" style="height: 120px; overflow: hidden"></li>
    </ul>
</nav>